---
layout: default
HTML_LANG: ru
SITEMAP_lastmod: '2022-01-24T16:35:13+03:00'
SITEMAP_changefreq: monthly
SITEMAP_priority: 0.25
SEO_TITLE: КОНСАЛТИНГОВАЯ КОМПАНИЯ KUNG CONSULTING
SEO_DESCRIPTION:
IS_RTL: false
CANONICAL: /
d_bodyClass: homepage
d_alias: index
---

{% include globalStart.html %}

{% include header_ru.html %}

<div id="banner" class="ptb80 m-ptb60">
	<div class="main flex aic fm0 mt50 l-mt0">
		<div class="block60 m-block100 mb0">
			<h1 class="fw900 ttu mb20 maincolor">Kung Consulting</h1>
			<h2 class="fw700 mb20">Реальная помощь, если Вы хотите найти бизнес-партнёров в Турции</h2>
			<p>Основная задача нашей компании – это реализация интересов наших клиентов в сфере развития торгового партнёрства между турецкими компаниями и резидентами стран СНГ, Европы, Азии, Африки. </p>
			<div class="open_modal open_modal_1 bigbutton mt30 s-mt20 effect bshad dib">Оставить заявку</div>
		</div>
		<div class="block40 m-dn mb0"><img src="assets/img/banner_img.png" class="image" alt="Консалтинговая Компания Kung Consultıng" /></div>
	</div>
</div>
<div id="aboutus" class="ptb80 l-ptb30">
	<div class="main flex fm0 aic">
		<div class="block60 m-block100 mb0 m-mb10 p40 m-p20 s-p0">
		    <h2>О нас</h2>
		    <p>Kung Consulting -  это экспертное консультирование руководителей предприятий и частных предпринимателей по широкому спектру экономических, производственных, коммерческих и других вопросов для оптимизации бизнес-процессов, увеличения прибыли и повышения ключевых показателей деятельности.</p>
		            <p>Мы имеем опыт по  организации поставок из Турции  продукции производственно-технического назначения в страны СНГ, также  промышленного оборудования, комплектующих и расходных материалов и запчастей</p>
		    
		    <div class="text_container mb20">
		        <div class="open bigbutton2 mt10 mb20">Подробнее</div>
		        <div class="hidden_text" style="display: none;">для европейских грузовиков, прицепов, спецтехники; шин, электроустановочных изделий, светотехники, сантехники, наконечников, саморезов и шурупов, инструмента, изделий машиностроения, деревообработки, продуктов питания,  сельского хозяйства,  лекарств,   бытовой химии и техники, посуды, канцтоваров, товаров личной гигиены, ворса для щеток, ворса тампико, товары для рыбной ловли, аксессуаров для мебели, текстиля (тканей, готовой продукции) и обуви (подошв, стелек), головных уборов и шапок, а также материалов для звукоизоляции, теплоизоляции, гидроизоляции, пароизоляции, огнезащиты, фольгированной изоляции, герметизирующих материалов,  различных герметиков, фольгированных лент, утеплителей, товары промышленной химии, такие как: трехокись сурьмы, активаторы вулканизации, антипирены, пластификаторы и другие товары.</div>
		        <div class="close bigbutton2 mt15" style="display: none;">Скрыть</div>
		    </div>
		    <p>
		        <span class="num">1</span> Поможем с таможенным оформлением и транзитом товаров через Турцию</p>
		        <div class="text_container">
		        <div class="open bigbutton2 mt10 mb20">Подробнее</div>
		        <div class="hidden_text" style="display: none;">Предложим оптимальную схему растаможки/затаможки, транзита груза из Украины, Европы, Америки в Россию (и наоборот), позаботимся о полном комплекте разрешительных документов (сертификатов, лицензий и прочих). Можете быть уверены в отсутствии задержек при прохождении контроля. Дополнительно у нас можно договориться о подготовке внешнеэкономического контракта — гарантируем соблюдение интересов заказчика.</div>
		        <div class="close bigbutton2 mt15" style="display: none;">Скрыть</div>
		    </div>
		        
		    <p>
		        <span class="num">2</span> Поможем Вам существенно сократить расходы и время комплектации своих предприятий необходимой продукцией. Мы напрямую сотрудничаем с заводами изготовителями. У нас индивидуальный подход к каждому клиенту.</p>
		    <p>
		        <span class="num">3</span> Организуем производство продукции под Вашей торговой маркой в Турции. Оперативность и ценовая гибкость, надежность поставок из Турции, гарантия замены продукции, квалифицированные консультации — являются первостепенными задачами нашей компании.</p>
		    <p>
		        <span class="num">4</span> Поможем Вам найти качественный продукт и надёжного поставщика в максимально короткие сроки и по приемлемым ценам.</p>
		    <p class="fw600 mb0">Мы открыты и готовы сотрудничать по любым направлениям!</p>
		</div>
		<div class="block40 m-dn mb0 image"><img src="assets/img/aboutus.jpg" class="brad10 bshad" alt="о нас" /></div>
	</div>
</div>


<!-- [[-<div id="aboutus" class="ptb80 l-ptb30">
	<div class="main flex fm0 aic">
		<div class="block60 m-block100 mb0 m-mb10 p40 m-p20 s-p0">
			<h2>О нас</h2>
			<p>Наша компания занимается организацией поставок продукции производственно-технического назначения, предоставляет своим клиентам весь спектр промышленного оборудования, комплектующих и расходных материалов и запчастей.</p>
			<div class="text_container">
				<div class="open bigbutton2 mt10 mb20">Подробнее</div>
				<div class="hidden_text" style="display: none;">Для европейских грузовиков, прицепов, спецтехники, шины, электроустановочные изделия, светотехники, наконечники, саморезы и шурупы, инструмент, машиностроения, деревообработки, продукты питания, лекарства, сельского хозяйства, бытовая химия и техника, посуда, канцтоваров, товары личной гигиены, ворс для щетины, аксессуары для мебели, текстиль (ткани, готовые продукции) и обувь (подошвы, стельки), а также материалов для звукоизоляция, теплоизоляция, гидроизоляция, пароизоляция, огнезащита, фольгированная изоляция, герметизирующие материалы, герметики, фольгированные ленты, утеплители. Товары промышленной химии, такие как: трехокись сурьмы, активаторы вулканизации и другие антипирены и пластификаторы и другие товары.</div>
				<div class="close bigbutton2 mt15" style="display: none;">Скрыть</div>
			</div>
			<p>
				<span class="num">1</span> Поможем существенно сократить расходы и время комплектации своих предприятий необходимой продукцией. Мы напрямую сотрудничаем с заводами изготовителями. У нас индивидуальный подход к каждому клиенту.</p>
			<p>
				<span class="num">2</span> Организуем производство продукции под Вашей торговой маркой в Турции. Оперативность и гибкость предложений по ценам, надежность поставок из Турции , гарантия замены продукции, квалифицированные консультации — являются первостепенными задачами нашей компании.</p>
			<p>
				<span class="num">3</span> Поможем найти качественный продукт и надёжного поставщика в максимально короткие сроки и по приемлемым ценам.</p>
		</div>
			<p>
			<p class="fw600 mb0">1Мы открыты и готовы сотрудничать по любым направлениям!</p>
		</div>
		<div class="block40 m-dn mb0 image"><img src="assets/img/aboutus.jpg" class="brad10 bshad" alt="о нас" /></div>
	</div>
</div>]] -->

<div id="uslugi" class="ptb100 m-ptb50 s-ptb30 bg-grey">
	<div class="main">
	    <div class="flex">
	        <div class="block100 bg-white bshad brad10 p40 m-p20 ">
				<h5>Нуждаетесь в логистических и таможенных услугах в Турции?</h5>
				<p>Ищите транзит? Мы поможем!</p>
				<div class="text_container">
					<div class="open bigbutton2 mt10">Подробнее</div>
					<div class="hidden_text tal" style="display: none;">
						<h6 class="mb20 mt40 s-mt20">Осуществляем подбор перевозчика из Турции в Россию, Европу, Украину, Америку, Африку: условия сотрудничества</h6>
                        <p>При перемещении товаров морским или авиатранспортом мы привлекаем автотранспорт для доставки до портов/аэропортов и из них. Такую доставку называют мультимодальной, она дает возможность отправки в любую точку страны.</p>
                        <ul class="circle-list">
                        	<li>Индивидуальное планирование маршрутов — учитываем пожелания заказчика, характеристики груза</li>
                        	<li> Вид транспорта: автомобильный — 14–20 дней; морской — 12–16 дней; авиа — 1–4 дня</li>
                        	<li> Тип перевозки: контейнерная (генеральный груз), сборная с формированием на одном из складов консолидации — для мелкооптовых поставок, от 100 кг, 1 м3</li>
                        	<li> Категории грузов: обычные, скоропортящиеся, хрупкие, крупногабаритные, драгоценные</li>
                        	<li> Формат сотрудничества: под ключ, индивидуальный пакет услуг</li>
                        </ul>
                        <h6 class="mb20 mt40 s-mt20">Осуществляем поиск перевозчика из Турции</h6>
                        <p>В первую очередь ориентируемся на приоритеты заказчика. Надо быстро? Авиадоставка. Дешево? Морские грузоперевозки. Крупногабарит? Рекомендуем автотранспорт.</h6>
                        <p><strong>Перечень услуг:</strong></p>
                        <ul class="circle-list">
                        	<li>Подготовка сопроводительной документации ( E-factura, инвойсов, банковских переводов за транзитные грузы в Европу, Украину, Америку и др. страны, договоров) для прохождения таможенного контроля</li>
                        	<li> Оплата продукции по поручению заказчика — с гарантией</li>
                        	<li> Обработка грузов: маркировка, сортировка, упаковка, погрузка, выгрузка, инвентаризация</li>
                        	<li> ВЭД-сопровождение под ключ</li>
                        	<li> Оформление страхового полиса</li>
                        	<li> Услуги лицензированного брокера при прохождении таможни в Турции.</li>
                        	<li>Персональный менеджер на связи практически круглосуточно. Диспетчеры Kung Consulting свободно говорят на турецком, английском и русском — быстро решают любые проблемы, которые могут возникнуть при транспортировке.</li>
                        </ul>
                        <div class="p20 bg-maincolor brad10 mt40 s-mt20 white">
                            <h6 class="mb20 white">Таможенное оформление и транзит грузов через Турцию</h6>
                            <p>Предложим оптимальную схему растаможки/затаможки, транзита груза из Украины, Европы, Америки в Россию (и наоборот), позаботимся о полном комплекте разрешительных документов (сертификатов, лицензий и прочих). Можете быть уверены в отсутствии задержек при прохождении контроля. Дополнительно у нас можно договориться о подготовке внешнеэкономического контракта — гарантируем соблюдение интересов заказчика.</p>
                            <p>В пакет услуг по таможенному оформлению входит выбор кода ТНВЭД, расчет и оплата таможенных пошлин, сборов, налогов. Предусмотрено оформление импорта/экспорта, прохождение процедуры таможенного транзита, другие процессы.
                            </p><p>Важно! Перед покупкой продукции необходимо рассчитать стоимость транспортировки и таможенного оформления — это поможет оценить целесообразность сделки. Предварительный расчет позволит избежать критичных ошибок.</p>
                        </div>
					</div>
				</div>
			</div>



			<div class="block50 m-block100 bg-white bshad brad10 p40 m-p20 ">
				<h5>Ищете делового партнёра в Турции, странах СНГ?</h5>
				<p>Компания Kung Consulting осуществит поиск партнёров по всей территории Турции и предложит комплексное сопровождение сделки по импорту или экспорту.</p>
				<div class="text_container">
					<div class="open bigbutton2 mt10">Подробнее</div>
					<div class="hidden_text tal" style="display: none;">
						<p>Наш дружный коллектив:</p>
						<ul class="circle-list">
							<li>встретит Вас в аэропорту, на вокзалах, организует бронирование гостиниц, проживание, транспорт, экскурсии и сопровождение по Турции;</li>
							<li>организует переговоры с первыми лицами компаний, проведём переговоры с турецкими партнёрами о поставках на взаимовыгодной основе;</li>
							<li>поможет Вам на переговорах с переводом, поможет отстоять Ваши интересы на турецком рынке.</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="block50 m-block100 bg-white bshad brad10 p40 m-p20 ">
				<h5>Хотите разместить заказ на заводах и фабриках Турции?</h5>
				<p>В штате у нас имеются профессиональные гиды-переводчики, перговорщики со знанием турецкого языка.
					<br/>Мы разместим Ваши заказы на фабриках и заводах Турции, организуем оптовые поставки и закупки;</p>
				<div class="text_container">
					<div class="open bigbutton2 mt10">Подробнее</div>
					<div class="hidden_text tal" style="display: none;">
						<ul class="circle-list">
							<li>организуем логистику Ваших товаров;</li>
							<li>окажем Вам информационно — аналитическую, юридическую помощь, проведём маркетинговые исследования в целях изучения рынка Турции;</li>
							<li>проверим возможности потенциальных Ваших турецких партнёров;</li>
							<li>организуем встречи и переговоры турецких партнёров с Вашими представителями или экспертами (синхронный перевод);</li>
							<li>проведём презентации на турецком языке и организуем участие в профильных выставках Вашего товара в Турции.</li>
						</ul><a href="#tarifi" class="bigbutton2 dib">Наши тарифы</a></div>
				</div>
			</div>
			<div class="block50 m-block100 bg-white bshad brad10 p40 m-p20 ">
				<h5>Вы ищете поставщика в Турции?<br/>Отлично!</h5>
				<div class="text_container">
					<div class="open bigbutton2 mt10">Подробнее</div>
					<div class="hidden_text tal" style="display: none;">
						<div class="design-list">
                        <div class="design-list-item first">
                            <p class="design-list-zag">Шаг 1</p>
                            <p class="design-list-text">Мы заключаем с вами договор маркетинговых или посреднических услуг.</p>
                        </div>
                        <div class="design-list-item">
                            <p class="design-list-zag">Шаг 2</p>
                            <p class="design-list-text">На основании Вашей заявки мы ищем приемлемые заводы-изготовители в Турции, проводим переговоры по закупке требуемой для Вас продукции, сырья, предоставляем коммерческое предложение.</p>
                        </div>
                        <div class="design-list-item">
                            <p class="design-list-zag">Шаг 3</p>
                            <p class="design-list-text">Вы оплачиваете посреднические услуги нам, оплачиваете товар на заводе-изготовителе.</p>
                        </div>
                        <div class="design-list-item">
                            <p class="design-list-zag">Шаг 4</p>
                            <p class="design-list-text">Завод импортирует по Вашему адресу товар.</p>
                        </div>
                        <div class="design-list-item last">
                            <p class="design-list-zag">Шаг 5</p>
                            <p class="design-list-text">При необходимости, мы посодействуем Вам в таможенной очистке товара и в доставке его на Ваш склад.</p>
                        </div>
                        <h5 class="mt15">Сделка совершена!</h5>
                    </div>
                    <a href="#tarifi" class="bigbutton2 dib">Наши тарифы</a> </div>
				</div>
			</div>
			<div class="block50 m-block100 bg-white bshad brad10 p40 m-p20 ">
				<h5>Хотите экспортировать товар в Турцию?<br/>Замечательно!</h5>
				<div class="text_container">
					<div class="open bigbutton2 mt10">Подробнее</div>
					<div class="hidden_text tal" style="display: none;">
						<div class="design-list">
                        <div class="design-list-item first">
                            <p class="design-list-zag">Шаг 1</p>
                            <p class="design-list-text">Вам стоит обратиться в компанию Kung Consulting с запросом.</p>
                        </div>
                        <div class="design-list-item">
                            <p class="design-list-zag">Шаг 2</p>
                            <p class="design-list-text">На основании Вашей заявки, предоставленного Вами описания товара и образцов мы рассчитаем стоимость коммерческого предложения для турецких компаний.</p>
                        </div>
                        <div class="design-list-item">
                            <p class="design-list-zag">Шаг 3</p>
                            <p class="design-list-text">Мы поможем найти клиентов для Вашей продукции по всей территории Турции, проведем переговоры и заключим договор между Вами и турецкой организацией.</p>
                        </div>
                        <div class="design-list-item">
                            <p class="design-list-zag">Шаг 4</p>
                            <p class="design-list-text">Мы проследим поступление оплаты Вам за запрашиваемую продукцию.</p>
                        </div>
                        <div class="design-list-item">
                            <p class="design-list-zag">Шаг 5</p>
                            <p class="design-list-text">Вы оплачиваете нам посреднические услуги,  готовите товар к отгрузке.</p>
                        </div>
                        <div class="design-list-item last">
                            <p class="design-list-zag">Шаг 6</p>
                            <p class="design-list-text">При необходимости, мы посодействуем в таможенной очистке продукции на территории Турции и доставке на склад Покупателя.</p>
                        </div>
                        <h5 class="mt15">Сделка совершена!</h5>
                    </div>
                    <a href="#tarifi" class="bigbutton2 dib">Наши тарифы</a> </div>
				</div>
			</div>
			<!-- [[-<div class="block100 tac">
			    <div class="open_modal open_modal_1 bigbutton mt20 effect bshad dib tar">Оставить заявку</div>
			</div>
			]] -->
		</div>
		<div class="bg-white bshad brad10 p40 m-p20 text">
			<h2>Наши услуги</h2>
			<h5><span class="maincolor">Компания Kung Consulting</span> предоставляют на постоянной основе следующие услуги:</h5>
			<ul class="circle-list">
				<li><strong>Услуги по открытию/закрытию компании</strong> в Турции и странах СНГ: консультации по основным аспектам ведения бизнеса в вышеперечисленных странах, выбор организационно-правовой формы компании, подготовка полного пакета документов в соответствии с законодательством тех стран, где будет вестись бизнес, переводческие услуги.</li>
				<li><strong>Переводческие услуги</strong> (помощь переводчика в проведении деловых переговоров, на выставках, при встречах в аэропорту, во время деловой программы, заверение переводов у нотариуса)  </li>
				<li><strong>Юридические услуги:</strong> юридическое сопровождение бизнеса, сделок импорта-экспорта в Турции и странах СНГ, услуги адвоката, представление в судах и т.д.</li>
				<li><strong>Управленческий консалтинг:</strong> помощь в управлении Вашим предприятием на этапе формирования штата сотрудников, содействие по подбору и приёму персонала</li>
				<li><strong>Бухгалтерские услуги:</strong> комплексное бухгалтерское обслуживание, абонентское бухгалтерское обслуживание</li>
				<!-- [[-
				<li><strong>Юридические услуги:</strong> представление Ваших интересов в судах, других государственных органах, помощь в поиске и предоставление адвоката</li>
				]] -->
				<li><strong>Таможенные услуги</strong> на территории Турции и стран СНГ (организация логистики и таможенной очистки)</li>
				<li><strong>Услуги по получению гражданства и ПМЖ</strong> лицам, открывающим бизнес либо приобретающим недвижимость в Турции, помощь в оформлении разрешения на работу.</li>
				<li><strong>Риелторские услуги:</strong> подбор недвижимости в Турции (покупка/продажа), аренда жилья, решение бытовых вопросов (вызов сантехника, электрика, покупка мебели и тд.).</li>
				<li><strong>Организация деловых программ</strong> в Турции, странах СНГ</li>
				<li><strong>Организация обучающих и развлекательных программ</strong> (семинары, тренинги, посещение достопримечательностей, культурных заведений и т.д.)</li>
				<li><strong>Сертификация товаров</strong> на территории Турции, стран СНГ</li>
				<li><strong>Широкий спектр маркетинговых услуг:</strong> маркетинговые исследования, поиск и расширение рынков сбыта, анализ конкурентоспособности товаров или услуг на рынке Турции и стран СНГ.</li>
			</ul>
			<div class="open_modal open_modal_1 bigbutton mt20 effect bshad dib tar">Оставить заявку</div>
		</div>
		
	</div>
</div>

<div id="preimushestva" class="pt30 pb80 s-pb30">
	<div class="main flex">
		<div class="block100 mb0">
			<h2>Преимущества сотрудничества с Kung Consulting</h2></div>
		<div class="block33 s-block100 mb0 s-mb10 p40 m-p20 bg-maincolor bshad brad10 white tac fw600 icon-anim"><img src="assets/img/icons/1.png" alt="icon" />
			<p class="mt15 mb0">Вы доверяете свои дела профессиональному коллективу Kung Consulting</p>
		</div>
		<div class="block33 s-block100 mb0 s-mb10 p40 m-p20 bg-maincolor bshad brad10 white tac fw600 icon-anim"><img src="assets/img/icons/2.png" alt="icon" />
			<p class="mt15 mb0">Возможность быть на связи 24/7.
				<br/>Вы можете звонить, когда Вам удобно</p>
		</div>
		<div class="block33 s-block100 mb0 s-mb10 p40 m-p20 bg-maincolor bshad brad10 white tac fw600 icon-anim"><img src="assets/img/icons/3.png" alt="icon" />
			<p class="mt15 mb0">Возможность решать свои любые вопросы, не находясь в Турции</p>
		</div>
	</div>
</div>

<div id="komu" class="pt80 m-pt50 s-pt30 bg-grey">
	<div class="main">
		<div class="flex last-row-fix">
			<div class="block100 mb0">
				<h2>Кому подойдут услуги Kung Consulting</h2></div>
			<div class="block33 m-block50 s-block100 tac bshad brad10 bg-white block"> <img src="assets/img/komu/6.jpg" alt="Для желающих приобрести недвижимость в Турции" />
				<p class="mb0 p40 m-p20">Для компаний, нуждающихся в поиске логистических и брокерских услуг в Турции, в том числе транзита</p>
			</div>
			<div class="block33 m-block50 s-block100 tac bshad brad10 bg-white block"> <img src="assets/img/komu/1.jpg" alt="Для желающих приобрести недвижимость в Турции" />
				<p class="mb0 p40 m-p20">Для желающих приобрести недвижимость в Турции</p>
			</div>
			<div class="block33 m-block50 s-block100 tac bshad brad10 bg-white block"> <img src="assets/img/komu/2.jpg" alt="Для тех, кто хочет создать бизнес за рубежом" />
				<p class="mb0 p40 m-p20">Для тех, кто хочет создать бизнес за рубежом (в Турции, странах СНГ)</p>
			</div>
			<div class="block33 m-block50 s-block100 tac bshad brad10 bg-white block"> <img src="assets/img/komu/3.jpg" alt="Для мелких компаний" />
				<p class="mb0 p40 m-p20">Для мелких, в том числе вновь созданных компаний, которые не могут держать в штате юриста, бухгалтера, маркетолога, специалиста ВЭД, программиста</p>
			</div>
			<div class="block33 m-block50 s-block100 tac bshad brad10 bg-white block"> <img src="assets/img/komu/4.jpg" alt="Для бизнесменов" />
				<p class="mb0 p40 m-p20">Для бизнесменов, желающих найти партнёров в Турции, странах СНГ с целью выхода на новые рынки сбыта</p>
			</div>
			<div class="block33 m-block50 s-block100 tac bshad brad10 bg-white block"> <img src="assets/img/komu/5.jpg" alt="Для желающих обучаться, работать в Турции" />
				<p class="mb0 p40 m-p20">Для желающих посетить специализированные выставки, конгрессы, семинары в Турции</p>
			</div>
		</div>
		<div class="tac mt15"><a href="#contacts" class="bigbutton dib">Хочу сотрудничать</a></div>
	</div>
</div>

<div id="sotrud" class="pt50 s-pt30 pb80 m-pb50 s-pb30 bg-grey">
	<div class="main">
		<div class="flex last-row-fix">
			<div class="block33 s-block100 tac bshad brad10 bg-white block icon-anim p40 m-p20"> <img src="assets/img/sotrud/1.png" alt="иконка" />
				<h6>Экономия денег<br/>выгодные пакеты (тарифы)</h6>
				<div class="text_container">
					<div class="open bigbutton2 mt10">Подробнее</div>
					<div class="hidden_text tal" style="display: none;">
						<p>При открытии бизнеса в большинстве случаев приходится экономить, поэтому помощь профессионалов из Kung Сonsultıng по-настоящему Вас выручит и поможет грамотно и экономно сделать первые шаги в бизнесе и сэкономить на оперативной деятельности предприятия.</p>
						<h6 class="mb20">Десятки довольных клиентов</h6>
						<p>К нам обращаются множество Поставщиков из Турции и Покупателей из стран СНГ, наша миссия сводить мосты между бизнесами разных стран. Мы помогаем договориться и совершить сделку. Для нас радость приносить пользу и успех нашим партнёрам.</p>
					</div>
				</div>
			</div>
			<div class="block33 s-block100 tac bshad brad10 bg-white block icon-anim p40 m-p20"> <img src="assets/img/sotrud/2.png" alt="иконка" />
				<h6>Индивидуальный подход<br/>к каждому клиенту</h6>
				<div class="text_container">
					<div class="open bigbutton2 mt10">Подробнее</div>
					<div class="hidden_text tal" style="display: none;">
						<p>У нас есть опыт работы с различными кейсами клиентов. Мы оказываем помощь каждому клиенту, желающему работать с турецкими партнёрами. Мы не концентрируемся в поиске партнёров в одной области (сфере). Запрос клиента считается у нас на вес золота, довольными уходит каждый к нам обратившийся.</p>
						<h6 class="mb20">Быстрое решение вопросов</h6>
						<p>Мы стараемся оперативно реагировать на каждый запрос. Наша команда работает круглосуточно 24/7. Мы будем рады ответить на любой интересующий Вас вопрос.</p>
					</div>
				</div>
			</div>
			<div class="block33 s-block100 tac bshad brad10 bg-white block icon-anim p40 m-p20"> <img src="assets/img/sotrud/3.png" alt="иконка" />
				<h6>Опыт работы специалистов<br/>более 20 лет</h6>
				<div class="text_container">
					<div class="open bigbutton2 mt10">Подробнее</div>
					<div class="hidden_text tal" style="display: none;">
						<p>В штате нашей компании работают квалифицированные маркетологи, специалисты в области ВЭД, бухгалтера, снабженцы, юристы. Практический каждый за своей спиной имеет опыт работы в профессиональной сфере более 20 лет</p>
						<h6 class="mb20">Вы можете управлять бизнесом онлайн из-за рубежа</h6>
						<p>Чтобы решить вопрос по Турции, Вам не обязательно присутстовать. Квалифицированная команда Kung Сonsultıng возьмёт на себя все Ваши поручения и обязательства. Вы почувствуете нашу заботу и помощь для Вашего бизнеса.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="text_container tac mt15 mb50 l-mb30">
			<div class="open bigbutton mt10">Хотите узнать больше о тарифах?</div>
			<div class="hidden_text tal" style="display: none;">
				<!-- [[$nashi_tarifi]] -->
				{% include nashi_tarifi_ru.html %}
		    </div>
		    
		</div>
	</div>
</div>



<div id="vigoda" class="ptb80 m-ptb50 s-ptb30 bg-grey">
	<div class="main">
		<h2 class="tac">Выгода сотрудничества с <span class="maincolor">Kung Consulting</span></h2>
		<div class="table vigoda p20 bshad brad10">
			<table>
         	    <tbody>
            		<tr>
            			 <td>Юрист/маркетолог (менеджер по закупкам/продажам)/ бухгалтер/специалист по сертификации/специалист по ВЭД</td>
            			 <td>Kung Consulting</td>
            		</tr>
            		<tr>
            			 <td>Средняя зарплата юриста/маркетолога (менеджера по закупкам/продажам)/ бухгалтера/специалиста по сертификации /специалиста по ВЭД составляет в странах СНГ/Турции 360 /657/800 долларов соответственно</td>
            			 <td>Тарифы нашей компании ниже и больше плюсов</td>
            		</tr>
            		<tr>
            			 <td>1 человек 1 пара рук соответственно</td>
            			 <td>Десятки квалифицированных специалистов сотрудничают с нашей компанией</td>
            		</tr>
            		<tr>
            			 <td>Небольшой охват клиентов</td>
            			 <td>Охват большого количества отраслей</td>
            		</tr>
            		<tr>
            			 <td>Работает 8 часов в день 5/2</td>
            			 <td>24/7 и 365 дней в году</td>
            		</tr>
            		<tr>
            			 <td>Более 30 % оплаты налогов в фонд Страхования</td>
            			 <td>Оплата пакета всего лишь единоразово</td>
            		</tr>
            		<tr>
            			 <td>Рабочее место, оргтехника</td>
            			 <td>Экономия на создании рабочих мест</td>
            		</tr>
            		<tr>
            			 <td>Нет гарантии исхода дел</td>
            			 <td>Полная гарантия в рамках договора</td>
            		</tr>
            		<tr>
            			 <td>Нехватка полномочий и решений</td>
            			 <td>Представление интересов во всех государственных и частных организациях</td>
            		</tr>
            	</tbody>
            </table>
        </div>
        <div class="tac">
            <div id="tarifi"></div>
            <div class="open_modal open_modal_1 bigbutton mtb20 effect bshad dib tar">Оставить заявку</div>
            <p class="fw600">В основе нашего бизнеса заложена китайская философия. Иероглиф 功 Kung означает мастерски выполненная работа, приводящая к достижению успеха!</p>
        </div>
        <div class="mt30">
    	<!-- [[$nashi_tarifi]] -->
		{% include nashi_tarifi_ru.html %}
    	</div>

	</div>
</div> 


<div id="docs" class="ptb80 m-ptb50 s-ptb30">
	<div class="main flex l-fm10 maxwidth600">
	    <h4 class="block100 tac mb60 s-mb40"><span class="maincolor">Kung Consulting </span> - динамично развивающаяся компания, работающая как дочерняя компания Kung Food Dış Ticaret Limited Şirketi</h4>
	    <div class="block33"><a data-fancybox="default" class="brad10" href="/assets/img/docs/01.jpg"><img src="assets/img/docs/01.jpg" alt="Kung Consulting" class="brad10" /></a></div>
	    <div class="block33"><a data-fancybox="default" class="brad10" href="/assets/img/docs/02.jpg"><img src="assets/img/docs/02.jpg" alt="Kung Consulting" class="brad10" /></a></div>
	    <div class="block33"><a data-fancybox="default" class="brad10" href="/assets/img/docs/03.jpg"><img src="assets/img/docs/03.jpg" alt="Kung Consulting" class="brad10" /></a></div>
	</div>
</div>


<div id="clients"  class="ptb80 m-ptb50 s-ptb30">
    <div class="main">
        <h2 class="tac">Наши <span class="maincolor">Клиенты</span></h2>
        <div class="flex clients last-row-fix">
            <div class="block16 m-block50">
                <img src="assets/img/clients/7.png" alt="">
                <p class="mb0"><b>Россия</b></p>
            </div>
            <div class="block16 m-block50">
                <img src="assets/img/clients/8.png" alt="">
                <p class="mb0"><b>Украина</b></p>
            </div>
            <div class="block16 m-block50">
                <img src="assets/img/clients/5.jpg" alt="">
                <p class="mb0"><b>Украина</b></p>
            </div>
            <div class="block16 m-block50">
                <img src="assets/img/clients/6.png" alt="">
                <p class="mb0"><b>Россия</b></p>
            </div>
             <div class="block16 m-block50">
                <img src="assets/img/clients/3.jpg" alt="">
                <p class="mb0"><b>Беларусь</b></p>
            </div>
            <div class="block16 m-block50">
                <img src="assets/img/clients/4.jpg" alt="">
                <p class="mb0"><b>Турция</b></p>
            </div>
            <div class="block16 m-block50">
                <img src="assets/img/clients/1.jpg" alt="">
                <p class="mb0"><b>Украина</b></p>
            </div>
            <div class="block16 m-block50">
                <img src="assets/img/clients/2.jpg" alt="">
                <p class="mb0"><b>Россия</b></p>
            </div>
        </div>
    </div>
</div>

{% include footer.html footer_socials_title="С нами можно связаться" %}
{% include modal_ru.html %}
{% include globalFinish.html %}
