---
layout: default
HTML_LANG: ar
SITEMAP_lastmod: '2022-01-24T19:47:16+03:00'
SITEMAP_changefreq: monthly
SITEMAP_priority: 0.25
SEO_TITLE: الشركة الاستشارية كونك كونسلتنك
SEO_DESCRIPTION:
IS_RTL: true
CANONICAL: ar
d_bodyClass: homepage
d_alias: ar
---

{% include globalStart.html %}

{% include header_ar.html %}

<script src="//code-ya.jivosite.com/widget/or3Aoo4WK5" async></script>

<div id="banner" class="ptb80 m-ptb60">
	<div class="main flex aic fm0 mt50 l-mt0">
		<div class="block60 m-block100 mb0">
			<h1 class="fw900 ttu mb20 maincolor">كونك كونسلتنك</h1>
			<h2 class="fw700 mb20">مساعدة حقيقية إذا كنت ترغب في العثور على شركاء تجاريين في تركيا وبلدان رابطة الدول المستقلة</h2>
			<p>المهمة الرئيسية لشركتنا - تتمثل في تحقيق مصالح عملائنا في تطوير الشراكات التجارية بين رابطة الدول المستقلة والشركات التركية.</p>
			<div class="open_modal open_modal_1 bigbutton mt30 s-mt20 effect bshad dib">قدم الطلب</div>
		</div>
		<div class="block40 m-dn mb0"><img src="assets/img/banner_img.png" class="image" alt="ممارسة الأعمال التجارية في تركيا وفي بلدان رابطة الدول المستقلة وتقديم المساعدة في إنشاء الأعمال التجارية"/></div>
	</div>
</div>
<div id="aboutus" class="ptb80 l-ptb30">
	<div class="main flex fm0 aic">
		<div class="block60 m-block100 mb0 m-mb10 p40 m-p20 s-p0">
			<h2>معلومات عنا</h2>
			<p>كونك كونسلتنك -  هي شركة استشارات متخصصة لمديري الأعمال وأصحاب المشاريع الخاصة في مجموعة واسعة من القضايا الاقتصادية والصناعية والتجارية وغيرها لتحسين العمليات التجارية وزيادة </p>
            <p>الأرباح وتحسين مؤشرات الأداء الرئيسية.</p>
			<p>لدينا خبرة في تنظيم توريد المنتجات الصناعية والتقنية من تركيا إلى بلدان رابطة الدول المستقلة, وكذلك المعدات الصناعية والمكونات والمواد الاستهلاكية وقطع الغيار</p>
			<div class="text_container">
				<div class="open bigbutton2 mt10 mb20">تفاصيل أكثر</div>
				<div class="hidden_text" style="display: none;">للشاحنات الأوروبية والمقطورات والمعدات الخاصة, الإطارات, الاكسسوارات الكهربائية, معدات الإضاءة, المفاصل الميكانيكية لعجلة القيادة, البراغي بأختلاف انواعها والاغطية البلاستيكية الخاصة بها, الأدوات, المنتجات الهندسية الميكانيكية, معدات ومكائن اعمال النجارة, المواد الغذائية, المكائن والمعدات الزراعية, الادوية, الكيماويات والمعدات المنزلية, الأطباق, القرطاسية, منتجات العناية والنظافة الشخصية, فرشاة الحلاقة, شعيرات من صبار تامبيكو المكسيكي, الملحقات للأثاث والمنسوجات (الأقمشة والمنتجات الجاهزة), الأحذية وملحقاتها (بطانة الاحذية, كعب الاحذية), وكذلك المواد العازلة للصوت, مواد العزل الحراري, مواد العزل المائي, مواد عزل الابخرة والرطوبة, الحماية من الحرائق, الرقائق المعدنية العازلة, مواد مانع التسرب, ومانعات التسرب بأختلافها, الرقائق المعدنية على شكل اشرطة, والعوازل وغيرها من المنتجات.</div>
				<div class="close bigbutton2 mt15" style="display: none;">أخفاء</div>
			</div>
            <p> <span class="num"> 1 </span> سنساعد في التخليص الجمركي وعبور البضائع عبر تركيا </p>
            <div class="text_container">
            <div class="open bigbutton2 mt10 mb20"> التفاصيل </div>
            <div class="hidden_text" style="display: none">؛"> سنقدم مخططًا مثاليًا للتخليص الجمركي / التخليص الجمركي ونقل البضائع من أوكرانيا وأوروبا وأمريكا إلى روسيا (والعكس صحيح) ، وسنتولى أمر مجموعة كاملة من التصاريح (الشهادات ، التراخيص ، إلخ)). يمكنك التأكد من أنه لن يكون هناك أي تأخير عند تمرير التحكم. بالإضافة إلى ذلك ، يمكننا الاتفاق على إعداد عقد اقتصادي أجنبي - نحن نضمن مراعاة مصالح العميل. /</div>
            <div class="close bigbutton2 mt15" style="display: none">؛"> إخفاء </div>
            </div>
			<p>
				<span class="num">2</span> تقديم المساعدة بتقليل تكاليف ووقت استكمال المنتجات الضروية المطلوبة بشكل كبير في المؤسسة. نحن نعمل مباشرة مع الشركات المصنعة. لدينا نهج فردي لكل عميل.</p>
			<p>
				<span class="num">3</span> ننظم إنتاج المنتجات تحت علامتكم التجارية في تركيا. نعتمد الكفاءة ومرونة السعر, وموثوقية عمليات التوصيل والاستلام من تركيا, وضمان استبدال المنتجات, والاستشارات المؤهلة هي المهام الأساسية لشركتنا.</p>
			<p>
				<span class="num">4</span> تقديم المساعدة في العثور على منتج عالي الجودة ومورد موثوق به في أقصر وقت ممكن وبأسعار معقولة.</p>
			<p class="fw600 mb0">نحن منفتحون ومستعدون للتعاون في أي مجال!</p>
		</div>
		<div class="block40 m-dn mb0 image"><img src="assets/img/aboutus.jpg" class="brad10 bshad" alt="о нас" /></div>
	</div>
</div>



<div id="uslugi" class="ptb100 m-ptb50 s-ptb30 bg-grey">
	<div class="main">
	    <div class="flex">
	        <div class="block100 bg-white bshad brad10 p40 m-p20">
            <h5> هل تحتاج إلى خدمات لوجستية وجمركية في تركيا؟ </h5>
            <p> هل تبحث عن وسيلة نقل؟ سنساعد! </p>
            <div class="text_container">
            <div class="open bigbutton2 mt10"> التفاصيل </div>
            <div class="hidden_text tal" style="display: none;">
            <h6 class="mb20 mt40 s-mt20"> نختار شركة نقل من تركيا إلى روسيا وأوروبا وأوكرانيا وأمريكا وإفريقيا: شروط التعاون </h6>
                        <p> عند نقل البضائع عن طريق النقل البحري أو الجوي ، فإننا نشرك المركبات التي يتم تسليمها من وإلى الموانئ / المطارات. يُطلق على هذا التسليم اسم متعدد الوسائط ، مما يجعل من الممكن إرساله إلى أي جزء من البلاد. </p>
                        <ul class="circle-list">
                        <li> تخطيط المسار الفردي - نأخذ في الاعتبار رغبات العميل وخصائص البضائع </li>
                        <li> وسيلة النقل: طريق - 14-20 يومًا ؛ البحر - 12-16 يومًا ؛ الهواء - 1-4 أيام </li>
                        <li> نوع النقل: حاوية (بضائع عامة) ، تجميع مع تشكيل في أحد مستودعات التوحيد - لتوصيلات الجملة الصغيرة ، من 100 كجم ، 1 م 3 </li>
                        <li> فئات البضائع: عادية ، قابلة للتلف ، هشة ، ضخمة ، ثمينة </li>
                        <li> تنسيق التعاون: تسليم المفتاح ، حزمة الخدمة الفردية </li>
                        </ul>
                        <h6 class="mb20 mt40 s-mt20"> البحث عن شركة اتصالات من تركيا </h6>
                        <p> أولاً وقبل كل شيء ، نركز على أولويات العميل. في حاجة إليها بسرعة؟ تسليم الهواء. رخيص؟ الشحن البحري. متضخم؟ نوصي المركبات. </h6>
                        <p> <strong> قائمة الخدمات: </strong> </p>
                        <ul class="circle-list">
                        <li> إعداد المستندات المصاحبة (الحقائق الإلكترونية والفواتير والتحويلات المصرفية للسلع العابرة إلى أوروبا وأوكرانيا وأمريكا ودول أخرى والعقود) للرقابة الجمركية </li>
                        <li> الدفع للمنتجات نيابة عن العميل - بضمان </li>
                        <li> مناولة البضائع: الوسم ، والفرز ، والتعبئة ، والتحميل ، والتفريغ ، والمخزون </li>
                        <li> دعم FEA على أساس تسليم المفتاح </li>
                        <li> عمل بوليصة تأمين </li>
                        <li> خدمات السمسرة الجمركية المرخصة في تركيا. </li>
                        <li> المدير الشخصي على اتصال على مدار الساعة تقريبًا. المرسلون في Kung Consulting يجيدون التركية والإنجليزية والروسية ويحلون بسرعة أي مشاكل قد تنشأ أثناء النقل. </li>
                        </ul>
                        <div class="p20 bg-maincolor brad10 mt40 s-mt20 white">
                            <h6 class="mb20 white"> التخليص الجمركي ونقل البضائع عبر تركيا </h6>
                            <p> سنقدم المخطط الأمثل للتخليص الجمركي / التخليص الجمركي ، ونقل البضائع من أوكرانيا وأوروبا وأمريكا إلى روسيا (والعكس صحيح) ، وسنتولى مجموعة كاملة من التصاريح (الشهادات والتراخيص وما إلى ذلك. ). يمكنك التأكد من أنه لن يكون هناك أي تأخير عند تمرير التحكم. بالإضافة إلى ذلك ، يمكننا الاتفاق على إعداد عقد اقتصادي أجنبي - نحن نضمن مراعاة مصالح العميل. </p>
                            <p> تتضمن حزمة خدمات التخليص الجمركي اختيار رمز TNVED ، وحساب الرسوم الجمركية ، والرسوم ، والضرائب ودفعها. يتم توفير التخليص الجمركي للاستيراد والتصدير وإجراءات العبور الجمركي والعمليات الأخرى.
                            </p> <p> هام! قبل شراء المنتجات ، من الضروري حساب تكلفة النقل والتخليص الجمركي - سيساعد ذلك في تقييم جدوى المعاملة. سيتجنب الحساب الأولي الأخطاء الفادحة. </p>
                        </div>
            </div>
            </div>
            </div>
			<div class="block50 m-block100 bg-white bshad brad10 p40 m-p20 ">
				<h5>هل تبحث عن شريك تجاري في تركيا وبلدان رابطة الدول المستقلة؟</h5>
				<p>شركة كونك كونسلتنك بأمكانها البحث عن الشركاء في جميع أنحاء تركيا وتقدم دعمًا شاملاً لتنظيم الاستيراد أو التصدير.</p>
				<div class="text_container">
					<div class="open bigbutton2 mt10">تفاصيل أكثر</div>
					<div class="hidden_text tal" style="display: none;">
						<p>فريق عملنا ودود:</p>
						<ul class="circle-list">
							<li>نستقبلكم في المطار ومحطات السكك الحديدية وتنظيم حجوزات الفنادق والإقامة والنقل والرحلات والمرافقة في تركيا</li>
							<li>تنظيم مفاوضات مع كبار المسؤولين في الشركات, واجراءالمفاوضات مع الشركاء الأتراك بشأن عمليات التسليم على أساس المنفعة المتبادلة</li>
							<li>تقديم المساعدة في المفاوضات بالترجمة, تقديم المساعدة في الدفاع عن مصالحك في الاسواق التركية.</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="block50 m-block100 bg-white bshad brad10 p40 m-p20 ">
				<h5>هل تريد أن ترسل الطلبية الى المصانع والمعامل في تركيا؟</h5>
				<p>في كادر شركتنا يعمل مرشدين, مترجمين, مفاوضين, محترفين ولديهم معرفة باللغة التركية.<br/>نحن نرسل طلباتكم الى المصانع والمعامل في تركيا, وننظم عمليات التسليم والشراء بالجملة.</p>
				<div class="text_container">
					<div class="open bigbutton2 mt10">تفاصيل أكثر</div>
					<div class="hidden_text tal" style="display: none;">
						<ul class="circle-list">
							<li>تنظيم الخدمات اللوجستية لبضائعكم</li>
							<li>نزودكم بالمعلومات - المساعدة التحليلية والقانونية, وأجراء ألابحاث التسويقية من أجل دراسة الاسواق التركية</li>
							<li>التحقق من إمكانيات وقدرات شركائكم الأتراك المحتملين</li>
							<li>ننظم اجتماعات ومفاوضات للشركاء الأتراك مع ممثلينكم أو خبرائكم (بحضورالمترجم الفوري)</li>
							<li>نجري عروض تقديمية باللغة التركية وننظم المشاركة في المعارض المتخصصة لمنتجكم في تركيا.</li>
						</ul><div class="tar"><a href="#tarifi" class="bigbutton2 dib">أسعارنا</a></div></div>
				</div>
			</div>
			<div class="block50 m-block100 bg-white bshad brad10 p40 m-p20 ">
				<h5>هل تبحث عن مورد في تركيا؟ <br/>ممتاز</h5>
				<div class="text_container">
					<div class="open bigbutton2 mt10">تفاصيل أكثر</div>
					<div class="hidden_text tal" style="display: none;">
						<div class="design-list">
                        <div class="design-list-item first">
                            <p class="design-list-zag">الخطوة الاولى</p>
                            <p class="design-list-text">نبرم عقدًا معك للتسويق أو عقد لتقديم خدمات الوساطة التجارية.</p>
                        </div>
                        <div class="design-list-item">
                            <p class="design-list-zag">الخطوة الثانية</p>
                            <p class="design-list-text">بناءً على طلبكم نبحث عن جهات التصنيع الجيدة في تركيا, ونتفاوض على شراء المنتجات والمواد الخام التي تحتاجها شركتكم ونقدم لك العرض التجاري.</p>
                        </div>
                        <div class="design-list-item">
                            <p class="design-list-zag">الخطوه الثالثة</p>
                            <p class="design-list-text">أنت تدفع مقابل خدمات الوساطة لنا, وتدفع ثمن البضائع للمصنع.</p>
                        </div>
                        <div class="design-list-item">
                            <p class="design-list-zag">الخطوة الرابعة</p>
                            <p class="design-list-text">سيقوم المصنع بتصدير وارسال البضائع إلى عنوانكم.</p>
                        </div>
                        <div class="design-list-item last">
                            <p class="design-list-zag">الخطوة الخامسة</p>
                            <p class="design-list-text">إذا لزم الأمرنساعدكم في عمليات التخليص الجمركي للبضائع وتسليمها إلى المستودع الخاص بكم.</p>
                        </div>
                        <h5 class="mt15 tar">الصفقة تمت!</h5>
                    </div>
                    <div class="tar"><a href="#tarifi" class="bigbutton2 dib">أسعارنا</a></div> </div>
				</div>
			</div>
			<div class="block50 m-block100 bg-white bshad brad10 p40 m-p20 ">
				<h5>هل تريد تصدير البضائع إلى تركيا؟<br/>رائع</h5>
				<div class="text_container">
					<div class="open bigbutton2 mt10">تفاصيل أكثر</div>
					<div class="hidden_text tal" style="display: none;">
						<div class="design-list">
                        <div class="design-list-item first">
                            <p class="design-list-zag">الخطوة الاولى</p>
                            <p class="design-list-text">يجب عليك الاتصال بـشركة كونك كونسلتنك فيما يخص رغبتكم.</p>
                        </div>
                        <div class="design-list-item">
                            <p class="design-list-zag">الخطوة الثانية</p>
                            <p class="design-list-text">بناءً على طلبكم ووصف المنتج والعينات التي تم تقديمها, سنقوم بحساب تكلفة عرض ألاسعار للشركات التركية.</p>
                        </div>
                        <div class="design-list-item">
                            <p class="design-list-zag">الخطوه الثالثة</p>
                            <p class="design-list-text">نساعدكم في العثور على عملاء لمنتجاتك في جميع أنحاء تركيا, وسوف نتفاوض ونبرم اتفاقية بينكم وبين الشركات التركية.</p>
                        </div>
                        <div class="design-list-item">
                            <p class="design-list-zag">الخطوة الرابعة</p>
                            <p class="design-list-text">سنتعقب استلام الدفع لكم مقابل المنتجات المطلوبة.</p>
                        </div>
                        <div class="design-list-item">
                            <p class="design-list-zag">الخطوة الخامسة</p>
                            <p class="design-list-text"> تدفعون لنا مقابل خدمات الوساطة التجارية, وتجهزون البضائع للشحن.</p>
                        </div>
                        <div class="design-list-item last">
                            <p class="design-list-zag">الخطوة السادسة</p>
                            <p class="design-list-text">إذا لزم الأمر نساعدكم في التخليص الجمركي للمنتجات في تركيا وتسليمها إلى مستودع المشتري.</p>
                        </div>
                        <h5 class="mt15 tar">الصفقة تمت!</h5>
                    </div>
                    <div class="tar"><a href="#tarifi" class="bigbutton2 dib">أسعارنا</a></div> </div>
				</div>
			</div>
			<!-- [[-<div class="block100 tac">
			    <div class="open_modal open_modal_1 bigbutton mt20 effect bshad dib tar">قدم طلبكم</div>
			</div>
			]] -->
		</div>
		<div class="bg-white bshad brad10 p40 m-p20 text">
			<h2>خدماتنا</h2>
			<h5><span class="maincolor">تقدم كونك كونسلتنك الخدمات التالية بشكل مستمر:</span></h5>
			<ul class="circle-list">
				<li>خدمات فتح / إغلاق الشركات في تركيا وبلدان رابطة الدول المستقلة: مشاورات حول الجوانب الرئيسية لممارسة الأعمال التجارية في البلدان المذكورة أعلاه, واختيار الشكل القانوني للشركة, وتجهيز الوثائق الكاملة وفقًا لقوانين تلك البلدان  التي سيقام فيها الاعمال التجارية, وخدمات الترجمة.</li>
				<li>خدمات الترجمة (مترجم في المفاوضات التجارية, في المعارض, في اللقاء في المطار, أثناء برامج الأعمال, التصديق على الترجمة من قبل كاتب عدل)</li>
				<li>الخدمات القانونية: الدعم القانوني للأعمال, معاملات الاستيراد والتصدير في تركيا وبلدان رابطة الدول المستقلة, خدمات المحاماة, التمثيل في المحاكم والى آخره.</li>
				<li>الاستشارات الإدارية: المساعدة في إدارة شركتكم في مرحلة التأسيس وتعيين الموظفين والمساعدة في اختيار كادر الموظفين.</li>
				<li>خدمات المحاسبة: خدمات محاسبية شاملة, خدمات محاسبة الاشتراكات والمشتركين.</li>
				<li>خدمات الجمارك في تركيا وبلدان رابطة الدول المستقلة (تنظيم التخليص الجمركي واللوجستي)</li>
				<li>خدمات الجنسية والإقامة الدائمة للأشخاص الذين يبدأون مشروعًا تجاريًا أو يشترون عقارات في تركيا, والمساعدة في الحصول على تصريح عمل.</li>
				<li>الخدمات العقارية: اختيار العقارات في تركيا (شراء / بيع), تأجير المساكن, حل مشاكل الادامة المنزلية (استدعاء سباك, كهربائي, شراء أثاث, الى آخره).</li>
				<li>تنظيم برامج الأعمال في تركيا وبلدان رابطة الدول المستقلة</li>
				<li>تنظيم برامج تعليمية وترفيهية (ندوات, دورات تدريبية, زيارات للمعالم التأريخية والثقافية والى آخره).</li>
				<li>تصديق وتجهيز شهادات البضائع في تركيا وبلدان رابطة الدول المستقلة</li>
				<li>مجموعة واسعة من خدمات التسويق: البحث التسويقي, البحث عن أسواق المبيعات وتوسيعها, تحليل القدرة التنافسية للسلع أو الخدمات في الأسواق التركية وبلدان رابطة الدول المستقلة.</li>
			</ul>
			<div class="open_modal open_modal_1 bigbutton mt20 effect bshad dib tar">قدم طلبكم</div>
		</div>
		
	</div>
</div>

<div id="preimushestva" class="pt30 pb80 s-pb30">
	<div class="main flex">
		<div class="block100 mb0">
			<h2>فوائد التعاون مع كونك كونسلتنك</h2></div>
		<div class="block33 s-block100 mb0 s-mb10 p40 m-p20 bg-maincolor bshad brad10 white tac fw600 icon-anim"><img src="assets/img/icons/1.png" alt="icon" />
			<p class="mt15 mb0">أنت تعهد بشؤونك إلى فريق كونك كونسلتنك المحترف</p>
		</div>
		<div class="block33 s-block100 mb0 s-mb10 p40 m-p20 bg-maincolor bshad brad10 white tac fw600 icon-anim"><img src="assets/img/icons/2.png" alt="icon" />
			<p class="mt15 mb0">بأمكانية التواصل على مدار الساعة طوال أيام الأسبوع<br/>يمكنك الاتصال في أي وقت يناسبكم.</p>
		</div>
		<div class="block33 s-block100 mb0 s-mb10 p40 m-p20 bg-maincolor bshad brad10 white tac fw600 icon-anim"><img src="assets/img/icons/3.png" alt="icon" />
			<p class="mt15 mb0">القدرة على حل أي مشاكل دون التواجد في تركيا</p>
		</div>
	</div>
</div>

<div id="komu" class="pt80 m-pt50 s-pt30 bg-grey">
	<div class="main">
		<div class="flex last-row-fix">
			<div class="block100 mb0">
				<h2>خدمات كونك كونسلتنك تناسب:</h2></div>
			<div class="block33 m-block50 s-block100 tac bshad brad10 bg-white block"> <img src="assets/img/komu/6.jpg" alt="</" />
				<p class="mb0 p40 m-p20">لأولئك الذين يرغبون في شراء عقارات في تركيا</p>
			</div>
			<div class="block33 m-block50 s-block100 tac bshad brad10 bg-white block"> <img src="assets/img/komu/1.jpg" alt="Для желающих приобрести недвижимость в Турции" />
				<p class="mb0 p40 m-p20">لأولئك الذين يرغبون في شراء عقارات في تركيا</p>
			</div>
			<div class="block33 m-block50 s-block100 tac bshad brad10 bg-white block"> <img src="assets/img/komu/2.jpg" alt="Для тех, кто хочет создать бизнес за рубежом" />
				<p class="mb0 p40 m-p20">بالنسبة لأولئك الذين يرغبون في إنشاء عمل تجاري في الخارج (في تركيا وبلدان رابطة الدول المستقلة)</p>
			</div>
			<div class="block33 m-block50 s-block100 tac bshad brad10 bg-white block"> <img src="assets/img/komu/3.jpg" alt="Для мелких компаний" />
				<p class="mb0 p40 m-p20">للشركات الصغيرة, بما في ذلك الشركات التي تم إنشاؤها حديثًا, والتي لا يمكنها توظيف محام أو محاسب أو مسوق أو متخصص في التجارة الخارجية أو مبرمج</p>
			</div>
			<div class="block33 m-block50 s-block100 tac bshad brad10 bg-white block"> <img src="assets/img/komu/4.jpg" alt="Для бизнесменов" />
				<p class="mb0 p40 m-p20">لرجال الأعمال الذين يرغبون في إيجاد شركاء في تركيا وبلدان رابطة الدول المستقلة لدخول أسواق جديدة</p>
			</div>
			<div class="block33 m-block50 s-block100 tac bshad brad10 bg-white block"> <img src="assets/img/komu/5.jpg" alt="Для желающих обучаться, работать в Турции" />
				<p class="mb0 p40 m-p20">للراغبين في زيارة المعارض المتخصصة والمؤتمرات والندوات في تركيا</p>
			</div>
		</div>
		<div class="tac mt15"><a href="#contacts" class="bigbutton dib">أرغب في التعاون معكم</a></div>
	</div>
</div>

<div id="sotrud" class="pt50 s-pt30 pb80 m-pb50 s-pb30 bg-grey">
	<div class="main">
		<div class="flex last-row-fix">
			<div class="block33 s-block100 tac bshad brad10 bg-white block icon-anim p40 m-p20"> <img src="assets/img/sotrud/1.png" alt="иконка" />
				<h6>الاقتصاد في توفير الأموال وفقا للتعريفات</h6>
				<div class="text_container">
					<div class="open bigbutton2 mt10">تفاصيل أكثر</div>
					<div class="hidden_text tal" style="display: none;">
						<p>عند بدء العمل التجاري في معظم الحالات عليك توفير المال لذا فإن مساعدة المتخصصين من شركة كونك كونسلتنك سوف يقدم لكم المساعدة بكفاءة عالية واقتصاد مادي على اتخاذ الخطوات الأولى في مجال الأعمال وتوفير الأنشطة التشغيلية للمؤسسة التجارية.</p>
						<h6 class="mb20">العشرات من العملاء السعيدين</h6>
						<p>يتم الاتصال بنا من قبل العديد من الموردين من تركيا والمشترين من بلدان رابطة الدول المستقلة, مهمتنا هي بناء الجسور بين الشركات في مختلف البلدان. نحن نساعدك على التفاوض وإغلاق الصفقة. إنه لمن دواعي سرورنا أن نحقق الفائدة والنجاح لشركائنا</p>
					</div>
				</div>
			</div>
			<div class="block33 s-block100 tac bshad brad10 bg-white block icon-anim p40 m-p20"> <img src="assets/img/sotrud/2.png" alt="иконка" />
				<h6>نهج فردي لكل عميل</h6>
				<div class="text_container">
					<div class="open bigbutton2 mt10">تفاصيل أكثر</div>
					<div class="hidden_text tal" style="display: none;">
						<p>لدينا خبرة في العمل مع حالات العملاء المختلفة. نحن نقدم المساعدة لكل عميل يريد العمل مع شركاء أتراك. نحن لا نركز في البحث عن شركاء في منطقة واحدة (او مجال واحد). يعتبر طلب العميل يقدر بوزن الذهب, وكل من يتصل بنا راضي وسعيد بالتعامل معنا.</p>
						<h6 class="mb20">حل سريع للمشاكل</h6>
						<p>نحن نسعى جاهدين للرد على الفور على كل طلب. يعمل فريقنا على مدار الساعة طوال أيام الأسبوع. سنكون سعداء للإجابة على أي سؤال قد يخطر في بالكم.</p>
					</div>
				</div>
			</div>
			<div class="block33 s-block100 tac bshad brad10 bg-white block icon-anim p40 m-p20"> <img src="assets/img/sotrud/3.png" alt="иконка" />
				<h6>أكثر من 20 عامًا من الخبرة المهنية</h6>
				<div class="text_container">
					<div class="open bigbutton2 mt10">تفاصيل أكثر</div>
					<div class="hidden_text tal" style="display: none;">
						<p>لدى موظفي كادر شركتنا من المسوقين والمؤهلين والخبراء في مجال النشاط الاقتصادي الأجنبي ومحاسبين وموردين ومحامين. يتمتع كل موظفينا بخبرة عالية تقف وراء ظهركل موظف تقريبًا أكثر من 20 عامًا من الخبرة في المجال المهني.</p>
						<h6 class="mb20">يمكنك إدارة عملك على الإنترنت من الخارج</h6>
						<p>لا داعي للحضور لحل اية قضية في تركيا. سيتولى فريق كونك كونسلتنك المحترف جميع مهامك والتزاماتك. سوف تشعر برعايتنا ومساعدتنا لعملكم.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="text_container tac mt15 mb50 l-mb30">
			<div class="open bigbutton mt10">هل ترغب بمعرفة تفاصيل أكثر عن التعريفات</div>
			<div class="hidden_text tal" style="display: none;">
				<!-- [[$nashi_tarifi_ar]] -->
				{% include nashi_tarifi_ar.html %}
		    </div>
		</div>
	</div>
</div>



<div id="vigoda" class="ptb80 m-ptb50 s-ptb30 bg-grey">
	<div class="main">
		<h2>فوائد التعاون مع كونك كونسلتنك</h2>
		<div class="table vigoda p20 bshad brad10">
			<table class="tar">
         	    <tbody>
            		<tr>
                    	<td>
                    		محام / مسوق (مدير المشتريات\ المبيعات) / محاسب / أخصائي الشهادات / متخصص تجارة خارجية
                    		
                    	</td>
                    	<td>
                    		كونك كونسلتنك
                    		
                    	</td>
                    </tr>
                    <tr>
                    	<td>
                    		متوسط راتب المحامي / المسوق (مدير المشتريات / المبيعات) / المحاسب / أخصائي الشهادات / أخصائي التجارة الخارجية في بلدان رابطة الدول المستقلة / تركيا هو 360/657/800 دولار, وفقا
                    		
                    	</td>
                    	<td>
                    		لتعريفات شركتنا اقل وأكثر ايجابيا
                    		
                    	</td>
                    </tr>
                    <tr>
                    	<td>
                    		شخص واحد ويدين اثنين وبالتأكيد
                    		
                    	</td>
                    	<td>
                    		يتعاون العشرات من المهنيين المحترفين مع شركتنا
                    		
                    	</td>
                    </tr>
                    <tr>
                    	<td>
                    		تغطية صغيرة للزبون
                    		
                    	</td>
                    	<td>
                    		تغطية عدد كبير من الصناعات
                    		
                    	</td>
                    </tr>
                    <tr>
                    	<td>
                    		عمل ثمان ساعات في اليوم ولمدة خمسة أيام
                    		
                    	</td>
                    	<td>
                    		عمل 24 ساعة على مدار الاسبوع و365 يوم في السنة
                    		
                    	</td>
                    </tr>
                    <tr>
                    	<td>
                    		أكثر من 30٪ من مدفوعات الضرائب لصندوق التأمين
                    		
                    	</td>
                    	<td>
                    		دفع مرة واحدة وفقا للتعريفة
                    		
                    	</td>
                    </tr>
                    <tr>
                    	<td>
                    		محل العمل والمعدات التقنية المكتبية
                    		
                    	</td>
                    	<td>
                    		توفير على حساب تأسيس محل العمل
                    		
                    	</td>
                    </tr>
                    <tr>
                    	<td>
                    		لا يوجد ضمان لنتائج العمل
                    		
                    	</td>
                    	<td>
                    		ضمان كامل في إطار العقود المبرمة
                    		
                    	</td>
                    </tr>
                    <tr>
                    	<td>
                    		قلة الصلاحيات والقدرة على القرار
                    		
                    	</td>
                    	<td>
                    		تمثيل المصالح في كافة المؤسسات العامة (الحكومية) والخاصة
                    		
                    	</td>
                    </tr>
            	</tbody>
            </table>
        </div>
        <div class="tac">
            <div id="tarifi"></div>
            <div class="open_modal open_modal_1 bigbutton mtb20 effect bshad dib tar">قدم طلبكم</div>
            <p class="fw600">يعتمد عملنا على الفلسفة الصينية. الهيروغليفية 功 كونك تعني العمل البارع الذي يؤدي إلى النجاح!</p>
        </div>
        <div class="mt30">
    	<!-- [[$nashi_tarifi_ar]] -->
		 {% include nashi_tarifi_ar.html %}
    	</div>

	</div>
</div> 


<div id="docs" class="ptb80 m-ptb50 s-ptb30">
	<div class="main flex l-fm10 maxwidth600">
	    <h4 class="block100 tac mb60 s-mb40"><span class="maincolor">Kung Consulting هي شركة ديناميكية وهي جزء من Kung Food Dış Ticaret Limited Şirketi</h4>
	    <div class="block33"><a data-fancybox="default" class="brad10" href="/assets/img/docs/01.jpg"><img src="assets/img/docs/01.jpg" alt="Kung Consulting" class="brad10" /></a></div>
	    <div class="block33"><a data-fancybox="default" class="brad10" href="/assets/img/docs/02.jpg"><img src="assets/img/docs/02.jpg" alt="Kung Consulting" class="brad10" /></a></div>
	    <div class="block33"><a data-fancybox="default" class="brad10" href="/assets/img/docs/03.jpg"><img src="assets/img/docs/03.jpg" alt="Kung Consulting" class="brad10" /></a></div>
	</div>
</div>


<div id="clients"  class="ptb80 m-ptb50 s-ptb30">
    <div class="main">
        <h2><span class="maincolor">عملائنا</span></h2>
        <div class="flex clients last-row-fix">
            <div class="block16 m-block50">
                <img src="assets/img/clients/7.png" alt="">
                <p class="mb0"><b>روسيا</b></p>
            </div>
            <div class="block16 m-block50">
                <img src="assets/img/clients/8.png" alt="">
                <p class="mb0"><b>أوكرانيا</b></p>
            </div>
            <div class="block16 m-block50">
                <img src="assets/img/clients/5.jpg" alt="">
                <p class="mb0"><b>أوكرانيا</b></p>
            </div>
            <div class="block16 m-block50">
                <img src="assets/img/clients/6.png" alt="">
                <p class="mb0"><b>روسيا </b></p>
            </div>
            <div class="block16 m-block50">
                <img src="assets/img/clients/3.jpg" alt="">
                <p class="mb0"><b>بيلاروس </b></p>
            </div>
            <div class="block16 m-block50">
                <img src="assets/img/clients/4.jpg" alt="">
                <p class="mb0"><b>تركيا </b></p>
            </div>
            <div class="block16 m-block50">
                <img src="assets/img/clients/1.jpg" alt="">
                <p class="mb0"><b>أوكرانيا </b></p>
            </div>
            <div class="block16 m-block50">
                <img src="assets/img/clients/2.jpg" alt="">
                <p class="mb0"><b>روسيا </b></p>
            </div>
        </div>
    </div>
</div>


<div id="contacts" class="ptb80 m-ptb50 s-ptb30 bg-maincolor">
    <div class="main tac white">
        <h3 class="mb20 white">يمكنكم الاتصال بنا</h3>
        <div class="tels">
            <div class="tac tel_block">
                <a href="https://wa.me/905308133150" target="_blank" rel="noopener"><img src="/assets/img/icons/whatsapp.png" alt=""></a>
                 <a href="viber://chat?number=+905308133150"  target="_blank" rel="noopener"><img src="/assets/img/icons/viber.png" alt=""></a>
                 <a href="https://t.me/Kungconsulting" target="_blank" rel="noopener"><img src="/assets/img/icons/telegram.png" alt=""></a>
                 <a href="weixin://dl/chat?wxid_ewuabfekvfd122" target="_blank" rel="noopener"><img src="/assets/img/icons/wechat.png" alt=""></a>
            </div>
	        <div class="tel1 tel_block">
    	         <a class="maint white" href="tel:+905462027733">905462027733+</a>
            </div>
            <div class="tel2 tel_block">
	            <a class="maint white" href="tel:+905308133150">905308133150+</a>
	        </div>
	    </div>
        <p class="mt20 mb5"><a href="mailto:info@kungconsulting.com" class="white fw700">info@kungconsulting.com</a></p>
        <a href="http://kungconsulting.com/" class="white fw700">www.kungconsulting.com</a></p>
        <p class="mb0"><strong>KUNG FOOD DIŞ TİCARET LİMİTED ŞİRKETİ</strong><br/>Ataköy 7-8-9-10. Kısım Mah., Çobanceşme E-5 Yanyol Cad. A Blok No: 22/1 İç Kapı No:30, 34158 Bakırköy, İstanbul, Türkiye</p>
    </div>
</div>

<div id="map" style="width: 100%; height: 500px"></div>

{% if jekyll.environment == "production" %}
	<script src="/assets/js/map.js?nocache={{ site.time | date: '%Y-%m-%d_%H-%M' }}"></script>
{% else %}
	<script src="/assets/js/map.js"></script>
{% endif %}

<div class="podval_logo ptb20 bg-maincolor2 white tac">
	{% include footer.html %}
</div>

<!-- [[$modal_ar]] -->
{% include modal_ar.html %}

<!-- [[$globalFinish]] -->
{% include globalFinish.html %}
