<div class="tels">
    <a class="maincolor" href="tel:+905462027733">
        {% include string__phone.html phone="+90 546 202 7733" %}
    </a>
    <a class="maincolor" href="mailto:rusturk@gmail.com">
        rusturk@gmail.com
    </a>
</div>
<div class="social">
    <a href="https://wa.me/905462027733" target="_blank" rel="noopener">
        <img src="/assets/img/icons/whatsapp.png" alt="">
    </a>
    <a href="viber://chat?number=+905462027733" target="_blank" rel="noopener">
        <img src="/assets/img/icons/viber.png" alt="">
    </a>
    <a href="https://t.me/Kungconsulting" target="_blank" rel="noopener">
        <img src="/assets/img/icons/telegram.png" alt="">
    </a>
    <a href="weixin://dl/chat?wxid_ewuabfekvfd122" target="_blank" rel="noopener">
        <img src="/assets/img/icons/wechat.png" alt="">
    </a>
</div>
