<div id="header">
    <div class="main">
        <a href="/" class="logo"><img src="/assets/img/logo.png" alt="logo"></a>
        <h2 class="mb0 ttu">
            Ведение бизнеса <span class="maincolor">в Турции и странах СНГ</span>
            <br>
            Помощь в создании бизнеса
        </h2>
        <div class="lang_switch">
            <ul>
                <li><span class="ru"><img src="assets/img/flags/ru.png" alt="">Русский</span></li>
                <li><a href="/en" class="en"><img src="assets/img/flags/en.png" alt="">English</a></li>
                <li><a href="/tr" class="tr"><img src="assets/img/flags/tr.png" alt="">Türk</a></li>
                <li><a href="/fr" class="fr"><img src="assets/img/flags/fr.png" alt="">Français</a></li>
                <li><a href="/ar" class="ar"><img src="assets/img/flags/ar.png" alt="">عرب</a></li>
            </ul>
        </div>
        {% include header__socials.html %}
    </div>
</div>
