<div id="header">
    <div class="main">
        <a href="/ar" class="logo"><img src="/assets/img/logo.png" alt="logo"></a>
        <h2 class="mb0 ttu tar">
            ممارسة الأعمال التجارية في تركيا وفي بلدان رابطة الدول المستقلة وتقديم المساعدة في إنشاء الأعمال التجارية
        </h2>
        <div class="lang_switch">
            <ul>
                <li><span class="ar"><img src="assets/img/flags/ar.png" alt="">عرب</span></li>
                <li><a href="/en" class="en"><img src="assets/img/flags/en.png" alt="">English</a></li>
                <li><a href="/tr" class="tr"><img src="assets/img/flags/tr.png" alt="">Türk</a></li>
                <li><a href="/fr" class="fr"><img src="assets/img/flags/fr.png" alt="">Français</a></li>
                <li><a href="/" class="ru"><img src="assets/img/flags/ru.png" alt="">Русский</a></li>
            </ul>
        </div>
        {% include header__socials.html %}
    </div>
</div>
