---
layout: default
HTML_LANG: en
SITEMAP_lastmod: '2022-01-24T18:59:30+03:00'
SITEMAP_changefreq: monthly
SITEMAP_priority: 0.25
SEO_TITLE: KUNG CONSULTING – CONSULTING COMPANY
SEO_DESCRIPTION:
IS_RTL: false
CANONICAL: en
d_bodyClass: homepage
d_alias: en
---

{% include globalStart.html %}

{% include header_en.html %}

<script src="//code-ya.jivosite.com/widget/or3Aoo4WK5" async></script>

<div id="banner" class="ptb80 m-ptb60">
	<div class="main flex aic fm0 mt50 l-mt0">
		<div class="block60 m-block100 mb0">
			<h1 class="fw900 ttu mb20 maincolor">Kung Consulting</h1>
			<h2 class="fw700 mb20">Rapid assistance if you want to find business partners in Turkey and other countries</h2>
			<p>The main task of our company is to act in the best interests of our clients in the development of trade partnership between other residents and Turkish companies.</p>
			<div class="open_modal open_modal_1 bigbutton mt30 s-mt20 effect bshad dib">Submit Application</div>
		</div>
		<div class="block40 m-dn mb0"><img src="assets/img/banner_img.png" class="image" alt="Консалтинговая Компания Kung Consulting"/></div>
	</div>
</div>
<div id="aboutus" class="ptb80 l-ptb30">
	<div class="main flex fm0 aic">
		<div class="block60 m-block100 mb0 m-mb10 p40 m-p20 s-p0">
			<h2>About Us</h2>
			<p>Kung Consulting is an expert consulting for business leaders and private entrepreneurs on a wide range of economic, industrial, commercial and other issues to optimize business processes, increase profits and improve key performance indicators.</p>
            <p>We have experience in organizing the supply of industrial and technical products from Turkey to other countries, as well as industrial equipment, components and consumables and spare parts</p>
			<div class="text_container">
				<div class="open bigbutton2 mt10 mb20">More Details</div>
				<div class="hidden_text" style="display: none;">for European trucks, trailers, special equipment; tires, electrical installation products, lighting equipment, ends (tips), self-tapping screws and screws, tools, machine-building products, woodworking, food, agriculture, medicines, household chemicals and appliances, tableware, stationery, personal hygiene products, bristle pile, tampico pile, accessories for furniture, textiles (fabrics, finished products) and shoes (soles, insoles), as well as materials for sound insulation, thermal insulation, waterproofing, vapor barrier, fire protection, foil insulation, sealing materials, various sealants, foil tapes, insulation materials, industrial chemicals such as: antimony trioxide, vulcanization activators, flame retardants, plasticizers and other goods.</div>
				<div class="close bigbutton2 mt15" style="display: none;">Hide</div>
			</div>
            <p><span class="num">1</span> We will help with customs clearance and transit of goods through Turkey</p>
                <div class="text_container">
                <div class="open bigbutton2 mt10 mb20">Details</div>
                <div class="hidden_text" style="display: none;">We will offer an optimal customs clearance/customs clearance scheme, transit of cargo from Ukraine, Europe, America to Russia (and vice versa), we will take care of a full set of permits (certificates, licenses, etc.) ). You can be sure that there will be no delays when passing control. Additionally, we can agree on the preparation of a foreign economic contract - we guarantee the observance of the interests of the customer.</div>
                <div class="close bigbutton2 mt15" style="display: none;">Hide</div>
            </div>
			<p>
				<span class="num">2</span> We will help you to significantly reduce the costs and time of completing your enterprises with the necessary products. We cooperate directly with manufacturing plants. We provide an individual approach to best meet each client's needs.</p>
			<p>
				<span class="num">3</span> We organize the production of products under your trademark in Turkey. Efficiency and price flexibility, reliability of supplies from Turkey, guarantee for replacement of products, qualified consultations are the primary tasks of our company.</p>
			<p>
				<span class="num">4</span> We will help you to find a quality product and a reliable supplier in the shortest possible time and at reasonable prices. </p>
			<p class="fw600 mb0">We stand ready to cooperate in any directions!</p>
		</div>
		<div class="block40 m-dn mb0 image"><img src="assets/img/aboutus.jpg" class="brad10 bshad" alt="about us" /></div>
	</div>
</div>


<!-- [[-<div id="aboutus" class="ptb80 l-ptb30">
	<div class="main flex fm0 aic">
		<div class="block60 m-block100 mb0 m-mb10 p40 m-p20 s-p0">
			<h2>О нас</h2>
			<p>Наша компания занимается организацией поставок продукции производственно-технического назначения, предоставляет своим клиентам весь спектр промышленного оборудования, комплектующих и расходных материалов и запчастей.</p>
			<div class="text_container">
				<div class="open bigbutton2 mt10 mb20">More Details </div>
				<div class="hidden_text" style="display: none;">Для европейских грузовиков, прицепов, спецтехники, шины, электроустановочные изделия, светотехники, наконечники, саморезы и шурупы, инструмент, машиностроения, деревообработки, продукты питания, лекарства, сельского хозяйства, бытовая химия и техника, посуда, канцтоваров, товары личной гигиены, ворс для щетины, аксессуары для мебели, текстиль (ткани, готовые продукции) и обувь (подошвы, стельки), а также материалов для звукоизоляция, теплоизоляция, гидроизоляция, пароизоляция, огнезащита, фольгированная изоляция, герметизирующие материалы, герметики, фольгированные ленты, утеплителей и другие товары.</div>
				<div class="close bigbutton2 mt15" style="display: none;">Скрыть</div>
			</div>
			<p>
				<span class="num">1</span> Поможем Вам существенно сократить расходы и время комплектации своих предприятий необходимой продукцией. Мы напрямую сотрудничаем с заводами изготовителями. У нас индивидуальный подход к каждому клиенту.</p>
			<p>
				<span class="num">2</span> Организуем производство продукции под Вашей торговой маркой в Турции. Оперативность и гибкость предложений по ценам, надежность поставок из Турции , гарантия замены продукции, квалифицированные консультации — являются первостепенными задачами нашей компании.</p>
			<p>
				<span class="num">3</span> Поможем Вам найти качественный продукт и надёжного поставщика в максимально короткие сроки и по приемлемым ценам.</p>
			<p class="fw600 mb0">Мы открыты и готовы сотрудничать по любым направлениям!</p>
		</div>
		<div class="block40 m-dn mb0 image"><img src="assets/img/aboutus.jpg" class="brad10 bshad" alt="о нас" /></div>
	</div>
</div>]] -->

<div id="uslugi" class="ptb100 m-ptb50 s-ptb30 bg-grey">
	<div class="main">
	    <div class="flex">
	        <div class="block100 bg-white bshad brad10 p40 m-p20 ">
            <h5>Do you need logistics and customs services in Turkey?</h5>
            <p>Looking for transit? We will help!</p>
            <div class="text_container">
                <div class="open bigbutton2 mt10">Details</div>
                <div class="hidden_text tal" style="display: none;">
                        <h6 class="mb20 mt40 s-mt20">We select a carrier from Turkey to Russia, Europe, Ukraine, America, Africa: terms of cooperation</h6>
                        <p>When moving goods by sea or air transport, we involve vehicles for delivery to and from ports / airports. Such delivery is called multimodal, it makes it possible to send it to any part of the country.</p>
                        <ul class="circle-list">
                        <li>Individual route planning - we take into account the wishes of the customer, the characteristics of the cargo</li>
                        <li> Mode of transport: road - 14-20 days; sea- 12-16 days; air — 1–4 days</li>
                        <li> Type of transportation: container (general cargo), groupage with formation at one of the consolidation warehouses - for small wholesale deliveries, from 100 kg, 1 m3</li>
                        <li> Cargo categories: regular, perishable, fragile, bulky, precious</li>
                        <li> Collaboration format: turnkey, individual service package</li>
                        </ul>
                        <h6 class="mb20 mt40 s-mt20">Searching for a carrier from Turkey</h6>
                        <p>First of all, we focus on the priorities of the customer. Need it fast? Air delivery. Cheap? Sea freight. Oversized? We recommend vehicles.</h6>
                        <p><strong>List of services:</strong></p>
                        <ul class="circle-list">
                        <li>Preparation of accompanying documentation (E-factura, invoices, bank transfers for transit goods to Europe, Ukraine, America and other countries, contracts) for customs control</li>
                        <li> Payment for products on behalf of the customer - with a guarantee</li>
                        <li> Cargo handling: marking, sorting, packaging, loading, unloading, inventory</li>
                        <li> FEA support on a turnkey basis</li>
                        <li> Making an insurance policy</li>
                        <li> Licensed customs broker services in Turkey.</li>
                        <li>A personal manager is in touch almost around the clock. Dispatchers at Kung Consulting are fluent in Turkish, English and Russian and quickly solve any problems that may arise during transportation.</li>
                        </ul>
                        <div class="p20 bg-maincolor brad10 mt40 s-mt20 white">
                            <h6 class="mb20 white">Customs clearance and cargo transit through Turkey</h6>
                            <p>We will offer the optimal scheme for customs clearance / customs clearance, transit of cargo from Ukraine, Europe, America to Russia (and vice versa), we will take care of the full set of permits (certificates, licenses, etc.). You can be sure that there will be no delays when passing control. Additionally, we can agree on the preparation of a foreign economic contract - we guarantee the observance of the interests of the customer.</p>
                            <p>The package of services for customs clearance includes the selection of the TNVED code, the calculation and payment of customs duties, fees, and taxes. Import/export clearance, customs transit procedure, and other processes are provided.
                            </p><p>Important! Before purchasing products, it is necessary to calculate the cost of transportation and customs clearance - this will help assess the feasibility of the transaction. Preliminary calculation will avoid critical errors.</p>
                        </div>
                    </div>
                </div>
            </div>
			<div class="block50 m-block100 bg-white bshad brad10 p40 m-p20 ">
				<h5>Are you looking for a business partner in Turkey, other countries? </h5>
				<p>Kung Consulting Company will search for partners throughout Turkey and offer comprehensive support for import or export transactions.</p>
				<div class="text_container">
					<div class="open bigbutton2 mt10">More Details </div>
					<div class="hidden_text tal" style="display: none;">
						<p>Our friendly team:</p>
						<ul class="circle-list">
							<li>will meet you at the airport and railway stations, arrange hotel reservations, accommodation, transport, excursions and accompaniment in Turkey;</li>
							<li>will organize negotiations with the top officials of the companies, hold negotiations with Turkish partners on mutually beneficial supplies;</li>
							<li>will help you to interpret in the talks and defend your interests in the Turkish market.</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="block50 m-block100 bg-white bshad brad10 p40 m-p20 ">
				<h5>Do you want to place an order at factories in Turkey? </h5>
				<p>We have professional guide-interpreters and negotiators who speak Turkish in our staff.
					<br/>We will place your orders at factories in Turkey; arrange wholesale deliveries and purchases;</p>
				<div class="text_container">
					<div class="open bigbutton2 mt10">More Details </div>
					<div class="hidden_text tal" style="display: none;">
						<ul class="circle-list">
							<li>we will organize the logistics of your goods;</li>
							<li>we will provide you with information and analytical, legal assistance, conduct marketing research in order to study the Turkish market;</li>
							<li>we will check the capabilities of your potential Turkish partners;</li>
							<li>we will organize meetings and negotiations of Turkish partners with your representatives or experts (simultaneous translation);</li>
							<li>we will hold presentations in Turkish and organize participation in specialized exhibitions of your goods in Turkey.</li>

						</ul><a href="#tarifi" class="bigbutton2 dib">Our tariffs</a></div>
				</div>
			</div>
			<div class="block50 m-block100 bg-white bshad brad10 p40 m-p20 ">
				<h5>Are you looking for a supplier in Turkey?<br/>Great!</h5>
				<div class="text_container">
					<div class="open bigbutton2 mt10">More Details </div>
					<div class="hidden_text tal" style="display: none;">
						<div class="design-list">
                        <div class="design-list-item first">
                            <p class="design-list-zag">Step 1</p>
                            <p class="design-list-text">We conclude a marketing or intermediary services agreement with you.</p>
                        </div>
                        <div class="design-list-item">
                            <p class="design-list-zag">Step 2</p>
                            <p class="design-list-text">Based on your application, we look for acceptable manufacturing plants for you in Turkey, we negotiate the purchase of the products and raw materials you require, and we provide you with a commercial offer.</p>
                        </div>
                        <div class="design-list-item">
                            <p class="design-list-zag">Step 3</p>
                            <p class="design-list-text">You pay for intermediary services to us and for the goods at the manufacturing plant.</p>
                        </div>
                        <div class="design-list-item">
                            <p class="design-list-zag">Step 4</p>
                            <p class="design-list-text">The manufacturing plant imports the goods to the address you specified.</p>
                        </div>
                        <div class="design-list-item last">
                            <p class="design-list-zag">Step 5</p>
                            <p class="design-list-text">If necessary, we will assist you in the customs clearance of the goods and in its delivery to your warehouse.</p>
                        </div>
                        <h5 class="mt15">The deal is done!</h5>
                    </div>
                    <a href="#tarifi" class="bigbutton2 dib">Our tariffs</a> </div>
				</div>
			</div>
			<div class="block50 m-block100 bg-white bshad brad10 p40 m-p20 ">
				<h5>Do you want to export goods to Turkey?<br/>That's wonderful!</h5>
				<div class="text_container">
					<div class="open bigbutton2 mt10">More Details </div>
					<div class="hidden_text tal" style="display: none;">
						<div class="design-list">
                        <div class="design-list-item first">
                            <p class="design-list-zag">Step 1</p>
                            <p class="design-list-text">You should contact Kung Consulting with a request.</p>
                        </div>
                        <div class="design-list-item">
                            <p class="design-list-zag">Step 2</p>
                            <p class="design-list-text">Based on your application, the description of goods and samples provided by you, we will calculate the cost of a commercial offer for Turkish companies.</p>
                        </div>
                        <div class="design-list-item">
                            <p class="design-list-zag">Step 3</p>
                            <p class="design-list-text">We will help you find customers for your products throughout Turkey, conduct negotiations and conclude an agreement between your and a Turkish organization.</p>
                        </div>
                        <div class="design-list-item">
                            <p class="design-list-zag">Step 4</p>
                            <p class="design-list-text">We will track the receipt of payment to you for the requested products.</p>
                        </div>
                        <div class="design-list-item">
                            <p class="design-list-zag">Step 5</p>
                            <p class="design-list-text">You pay us for intermediary services, prepare the goods for shipment.</p>
                        </div>
                        <div class="design-list-item last">
                            <p class="design-list-zag">Step 6</p>
                            <p class="design-list-text">If necessary, we will assist in the customs clearance of the goods in Turkey and their delivery to the buyer's warehouse.</p>
                        </div>
                        <h5 class="mt15">The deal is done!</h5>
                    </div>
                    <a href="#tarifi" class="bigbutton2 dib">Our tariffs</a> </div>
				</div>
			</div>
			<!-- [[-<div class="block100 tac">
			    <div class="open_modal open_modal_1 bigbutton mt20 effect bshad dib tar">Оставить заявку</div>
			</div>
			]] -->
		</div>
		<div class="bg-white bshad brad10 p40 m-p20 text">
			<h2>Our services</h2>
			<h5><span class="maincolor">Kung Consulting</span> provides the following services on continuing basis:</h5>
			<ul class="circle-list">
				<li><strong>Services for the opening/closing of a company in Turkey and other countries:</strong> consultations on the main aspects of doing business in the above mentioned countries, choice of the legal form of the company, preparation of a full package of documents in accordance with the legislation of the countries where the business will be conducted, translation services.</li>
				<li><strong>Translation services</strong> (assistance of an interpreter in conducting business negotiations, at exhibitions, meetings at the airport, during a business program, notarization of translations).

				<li><strong>Legal services:</strong> legal support of business, import-export transactions in Turkey and other countries, lawyer services, representation in courts, etc.

				<li><strong>Management consulting:</strong> assistance in managing your company at the stage of staff formation, assistance in the selection and recruitment of personnel.

				<li><strong>Accounting services:</strong> comprehensive accounting services, subscription accounting services.

				<li><strong>Customs services</strong> on the territory of Turkey and other countries (organization of logistics and customs clearance).

				<li><strong>Services for obtaining citizenship and permanent residence</strong> for persons starting a business or acquiring real estate in Turkey, assistance in obtaining a work permit.

				<li><strong>Real estate services:</strong> selection of real estate in Turkey (purchase/sale), rental housing, solution of household issues (call a plumber, electrician, furniture purchase, etc.).

				<li><strong>Organization of business programs</strong> in Turkey and other countries

				<li><strong>Organization of educational and entertainment programs</strong> (seminars, trainings, visits to attractions, cultural institutions, etc.)

				<li><strong>Certification of goods</strong> in Turkey and other countries

				<li><strong>A wide range of marketing services:</strong> marketing research, search and expansion of sales markets, analysis of the competitiveness of goods or services in the market of Turkey and other countries.
			</ul>
			<div class="open_modal open_modal_1 bigbutton mt20 effect bshad dib tar">Submit application</div>
		</div>
		
	</div>
</div>

<div id="preimushestva" class="pt30 pb80 s-pb30">
	<div class="main flex">
		<div class="block100 mb0">
			<h2>Advantages of cooperation with Kung Consulting</h2></div>
		<div class="block33 s-block100 mb0 s-mb10 p40 m-p20 bg-maincolor bshad brad10 white tac fw600 icon-anim"><img src="assets/img/icons/1.png" alt="icon" />
			<p class="mt15 mb0">You entrust your business to the Kung Consulting professional team</p>
		</div>
		<div class="block33 s-block100 mb0 s-mb10 p40 m-p20 bg-maincolor bshad brad10 white tac fw600 icon-anim"><img src="assets/img/icons/2.png" alt="icon" />
			<p class="mt15 mb0">We are available for you 24 hours a day 7 days a week.
				<br/>You can call whenever it is convenient for you</p>
		</div>
		<div class="block33 s-block100 mb0 s-mb10 p40 m-p20 bg-maincolor bshad brad10 white tac fw600 icon-anim"><img src="assets/img/icons/3.png" alt="icon" />
			<p class="mt15 mb0">The ability to solve any issues not being in Turkey</p>
		</div>
	</div>
</div>

<div id="komu" class="pt80 m-pt50 s-pt30 bg-grey">
	<div class="main">
		<div class="flex last-row-fix">
			<div class="block100 mb0">
				<h2>Who is suitable for Kung Consulting services?</h2></div>
			<div class="block33 m-block50 s-block100 tac bshad brad10 bg-white block"> <img src="assets/img/komu/6.jpg" alt="Для желающих приобрести недвижимость в Турции" />
				<p class="mb0 p40 m-p20">For companies that need to find logistics and brokerage services in Turkey, including transit.</p>
			</div>
			<div class="block33 m-block50 s-block100 tac bshad brad10 bg-white block"> <img src="assets/img/komu/1.jpg" alt="Для желающих приобрести недвижимость в Турции" />
				<p class="mb0 p40 m-p20">For people who want to buy real estate in Turkey</p>
			</div>
			<div class="block33 m-block50 s-block100 tac bshad brad10 bg-white block"> <img src="assets/img/komu/2.jpg" alt="Для тех, кто хочет создать бизнес за рубежом" />
				<p class="mb0 p40 m-p20">For those who want to create a business abroad (in Turkey and other countries)</p>
			</div>
			<div class="block33 m-block50 s-block100 tac bshad brad10 bg-white block"> <img src="assets/img/komu/3.jpg" alt="Для мелких компаний" />
				<p class="mb0 p40 m-p20">For small, including newly created companies that cannot keep a lawyer, accountant, marketer, foreign trade specialist, programmer on staff</p>
			</div>
			<div class="block33 m-block50 s-block100 tac bshad brad10 bg-white block"> <img src="assets/img/komu/4.jpg" alt="Для бизнесменов" />
				<p class="mb0 p40 m-p20">For businessmen who want to find partners in Turkey, other countries in order to enter new markets</p>
			</div>
			<div class="block33 m-block50 s-block100 tac bshad brad10 bg-white block"> <img src="assets/img/komu/5.jpg" alt="Для желающих обучаться, работать в Турции" />
				<p class="mb0 p40 m-p20">For those who wish to visit specialized exhibitions, congresses, seminars in Turkey</p>
			</div>
		</div>
		<div class="tac mt15"><a href="#contacts" class="bigbutton dib">Want to cooperate</a></div>
	</div>
</div>

<div id="sotrud" class="pt50 s-pt30 pb80 m-pb50 s-pb30 bg-grey">
	<div class="main">
		<div class="flex last-row-fix">
			<div class="block33 s-block100 tac bshad brad10 bg-white block icon-anim p40 m-p20"> <img src="assets/img/sotrud/1.png" alt="иконка" />
				<h6>Saving money <br/>profitable packages (tariffs)</h6>
				<div class="text_container">
					<div class="open bigbutton2 mt10">More Details </div>
					<div class="hidden_text tal" style="display: none;">
						<p>When starting a business, in most cases you have to save money, so the assistance of professionals from the Kung Consulting will really come to your aid and help you competently and economically take the first steps in business and save on the operations of the enterprise.</p>
						<h6 class="mb20">Scores of satisfied customers</h6>
						<p>We are approached by many suppliers from Turkey and buyers from other countries; our mission is to establish contacts between businesses from different countries. We help to conduct negotiations and make a deal. It is a pleasure for us to bring benefit and success to our partners.</p>
					</div>
				</div>
			</div>
			<div class="block33 s-block100 tac bshad brad10 bg-white block icon-anim p40 m-p20"> <img src="assets/img/sotrud/2.png" alt="иконка" />
				<h6>Individual approach<br/>to every client</h6>
				<div class="text_container">
					<div class="open bigbutton2 mt10">More Details </div>
					<div class="hidden_text tal" style="display: none;">
						<p>We have experience working with various client cases. We provide assistance to every client who wants to work with Turkish partners. We do not concentrate on finding partners in one area (sphere). The client's request is considered to be worth its weight in gold, everyone who applies to us leaves satisfied.</p>
						<h6 class="mb20">Quick resolution of issues</h6>
						<p>We try to respond promptly to every request. Our team works 24 hours a day 7 days a week. We will be happy to answer any question you are interested in.</p>
					</div>
				</div>
			</div>
			<div class="block33 s-block100 tac bshad brad10 bg-white block icon-anim p40 m-p20"> <img src="assets/img/sotrud/3.png" alt="иконка" />
				<h6>More than 20 years<br/> of professional experience</h6>
				<div class="text_container">
					<div class="open bigbutton2 mt10">More Details </div>
					<div class="hidden_text tal" style="display: none;">
						<p>Our company employs qualified marketers, foreign trade specialists, accountants, suppliers, lawyers. Almost everyone has more than 20 years of professional experience behind their back.</p>
						<h6 class="mb20">You can manage your business online from abroad</h6>
						<p>To solve the issue in Turkey, you do not have to be present. The qualified Kung Consulting team will take care of all your assignments and obligations. You will feel our care and help for your business.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="text_container tac mt15 mb50 l-mb30">
			<div class="open bigbutton mt10">Want to know more about tariffs?</div>
			<div class="hidden_text tal" style="display: none;">
				<!-- [[$nashi_tarifi_en]] -->
				{% include nashi_tarifi_en.html %}
		    </div>
		</div>
	</div>
</div>



<div id="vigoda" class="ptb80 m-ptb50 s-ptb30 bg-grey">
	<div class="main">
		<h2>Advantages of cooperation with <span class="maincolor">Kung Consulting</span></h2>
		<div class="table vigoda p20 bshad brad10">
			<table>
         	    <tbody>
            		<tr>
            			 <td>Lawyer/marketer (purchasing/sales manager)/ accountant/certification specialist/foreign trade specialist</td>
            			 <td>Kung Consulting</td>
            		</tr>
            		<tr>
            			 <td>The average salary of a lawyer/marketer (purchasing/sales manager)/ accountant/certification specialist /foreign trade specialist is in the other countries/Turkey 360 /657/800 dollars respectively</td>
            			 <td>Our company's tariffs are lower and there are more advantages</td>
            		</tr>
            		<tr>
            			 <td>1 person 1 pair of hands respectively</td>
            			 <td>Dozens of qualified professionals cooperate with our company</td>
            		</tr>
            		<tr>
            			 <td>Small customer coverage</td>
            			 <td>Coverage of a large number of industries</td>
            		</tr>
            		<tr>
            			 <td>5-day 8-hour work week</td>
            			 <td>24 hours a day, 7 days a week, 365 days a year</td>
            		</tr>
            		<tr>
            			 <td>More than 30% of the payment of taxes to the Insurance fund</td>
            			 <td>One-time package payment </td>
            		</tr>
            		<tr>
            			 <td>Workplace, office equipment</td>
            			 <td>Workplace savings</td>
            		</tr>
            		<tr>
            			 <td>No guarantee of the case</td>
            			 <td>Full warranty under the contract</td>
            		</tr>
            		<tr>
            			 <td>Lack of authority and solutions</td>
            			 <td>Representation of interests in all public and private organizations</td>
            		</tr>
            	</tbody>
            </table>
        </div>
        <div class="tac">
            <div id="tarifi"></div>
            <div class="open_modal open_modal_1 bigbutton mtb20 effect bshad dib tar">Submit application</div>
            <p class="fw600">Our business is based on the Chinese philosophy. The hieroglyph 功 Kung means masterfully executed work leading to success!</p>
        </div>
        <div class="mt30">
    	<!-- [[$nashi_tarifi_en]] -->
		{% include nashi_tarifi_en.html %}
    	</div>

	</div>
</div> 


<div id="docs" class="ptb80 m-ptb50 s-ptb30 bg-grey">
	<div class="main flex l-fm10 maxwidth600">
	    <h4 class="block100 tac mb60 s-mb40"><span class="maincolor">Kung Consulting</span>  is a dynamic company operating as a subsidiary Kung Food Dış Ticaret Limited Şirketi</h4>
	    <div class="block33"><a data-fancybox="default" class="brad10" href="/assets/img/docs/01.jpg"><img src="assets/img/docs/01.jpg" alt="Kung Consulting" class="brad10" /></a></div>
	    <div class="block33"><a data-fancybox="default" class="brad10" href="/assets/img/docs/02.jpg"><img src="assets/img/docs/02.jpg" alt="Kung Consulting" class="brad10" /></a></div>
	    <div class="block33"><a data-fancybox="default" class="brad10" href="/assets/img/docs/03.jpg"><img src="assets/img/docs/03.jpg" alt="Kung Consulting" class="brad10" /></a></div>
	</div>
</div>


<div id="clients"  class="ptb80 m-ptb50 s-ptb30">
    <div class="main">
        <h2>Our <span class="maincolor">Clients</span></h2>
        <div class="flex clients last-row-fix">
            <div class="block16 m-block50">
                <img src="assets/img/clients/7.png" alt="">
                <p class="mb0"><b>Russia</b></p>
            </div>
            <div class="block16 m-block50">
                <img src="assets/img/clients/8.png" alt="">
                <p class="mb0"><b>Ukraine</b></p>
            </div>
            <div class="block16 m-block50">
                <img src="assets/img/clients/5.jpg" alt="">
                <p class="mb0"><b>Ukraine</b></p>
            </div>
            <div class="block16 m-block50">
                <img src="assets/img/clients/6.png" alt="">
                <p class="mb0"><b>Russia</b></p>
            </div>
            <div class="block16 m-block50">
                <img src="assets/img/clients/3.jpg" alt="">
                <p class="mb0"><b>Belarus</b></p>
            </div>
            <div class="block16 m-block50">
                <img src="assets/img/clients/4.jpg" alt="">
                <p class="mb0"><b>Turkey</b></p>
            </div>
            <div class="block16 m-block50">
                <img src="assets/img/clients/1.jpg" alt="">
                <p class="mb0"><b>Ukraine</b></p>
            </div>
            <div class="block16 m-block50">
                <img src="assets/img/clients/2.jpg" alt="">
                <p class="mb0"><b>Russia</b></p>
            </div>
        </div>
    </div>
</div>

{% include footer.html footer_socials_title="Contact us" %}
{% include modal_en.html %}
{% include globalFinish.html %}
